@font-face {
    font-family: 'Galey';
    src: url('font/Galey.ttf') format(truetype);
}
@font-face {
    font-family: 'Galey-Bold';
    src: url('font/Galey-Bold.ttf') format(truetype);
}
body, html {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Galey', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

table {
    width: 95%;
    height: 80%;
    border-bottom: 8px solid #099a7b;
    border-collapse: collapse;
    font-size: 3rem;
    padding: 10%;
    box-shadow: 0 0px 3.3rem rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titles {
    text-align: left;
    background-color: #099a7b;
    color: white;
    font-weight: bolder;
    font-family: 'Galey-Bold', sans-serif;
}

td, th {
    padding: 2.3rem;
    cursor: default;
}

.content_middle {
    background-color: rgba(235, 235, 235, 0.673);
    border-bottom: 3px solid lightgray;
    border-top: 3px solid lightgray;
    font-weight: bolder;
    color: #099a7b;
    font-family: 'Galey-Bold', sans-serif;
}

.rounded-top-left {
    border-top-left-radius: 15px;
}

.rounded-top-right {
    border-top-right-radius: 15px;
}