body, html {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
table{
    width: 60%;
    border-bottom: 5px solid #099a7b;
    text-align: center;
    border-collapse: collapse;
    font-size: xx-large;
    padding: 15px;
}
.titles{
    background-color: #099a7b;
}
.rank{
    text-align: left;
}
td, th {
    padding: 15px; /* Add this line */
}