body, html {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
table{
    width: 90%;
    border: 2px solid black;
    text-align: center;
}